<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            {{#link-to 'hotels' class='navbar-brand'}}Hoteis{{/link-to}}
        </div>
    </div>
</nav>
