<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Obrigado por ter adquirido o nosso hotel {{hotel.name}}</h3>
      {{page-room-detail hotel=hotel}}
    </div>
  </div>
</div>
